<div class="menu">
    <input type="checkbox" id="nav-toggle" class="nav-toggle">
    <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
    <nav>
        <div class="home"><a href="/">Home</a></div>
        <div class="navigation">
            <ul class="mainmenu">
                <li><a href="/saisons/{{ lower .Site.Params.currentSaison }}/">Saison {{ .Site.Params.currentSaisonTitle }}</a></li>
                <li><a href="/infos">Infos</a></li>
                <li><a href="/kontakt">Kontakt</a></li>
                <li><a href="/saisons">Archiv</a></li>
            </ul>
        </div>
        <div class="subnavigation">
            <ul class="submenu">
                {{ $currentPage := . }}
                {{ range .Site.Pages.Reverse }}

                {{ if eq .Section "saisons" }}{{ if ne .CurrentSection . }}{{ if isset .CurrentSection.Params "saison" }}{{ if eq .CurrentSection.Params.saison .Site.Params.currentSaison }}
                <li class="menuitem">
                    <a href="{{ .URL }}" class="">
                        <div class="date">{{ .Date.Day }}. {{  index $.Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }}</div>
                        <div class="title">{{ .Name }}</div>
                    </a>
                </li>
                {{end}}{{end}}{{end}}{{end}}

                {{end}}
            </ul>
        </div>
    </nav>
</div>
