{{ define "content" }}
<h1>Konzerte der Saison {{ if isset .CurrentSection.Params "title" }}{{ .CurrentSection.Param "title" }}{{ else }}{{ .CurrentSection.Param "saison" }}{{ end }}</h1>

<div class="list">
    {{ range .Pages.Reverse }}
    <div class="element">
        <a href="{{ .URL }}">
            <div class="date">
                {{ .Date.Day }}. {{  index $.Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }}
            </div>
            <div class="title">
                {{ .Title }}
            </div>
        </a>
    </div>
    {{ end }}
</div>

{{ end }}
