.menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.largemenu {
    display: none;
}

nav {
    height: 100vh;
    background-color: #000;
    height: 100vh;
    width: 0;
    color: #FFF;
    font-size: 30px;
    z-index: 999;
    transition: width 150ms ease-in-out 150ms;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

nav ul li {
    margin-bottom: 30px;
    transform-origin: center center;
    transition: transform .2s;
}

nav ul li:hover {
    transform: scale(1.1);
    transform-origin: center center;
}

nav ul.largemenu li:hover {
    transform: scale(1.04);
    transform-origin: center center;
}

/* unvisited link */
nav a {
    color: white;
    text-decoration: none;
}

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    width: 100vp;
    position: fixed;
    right: 20px;
    top: 20px;
    z-index: 1001;
}

.nav-toggle-label span {
    float: right;
    transition: 0.4s;
    margin-top: 20px;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    transition: 0.4s;
    display: block;
    background: black;
    height: 3px;
    width: 28px;
    border-radius: 1px;
    position: relative;
}


.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 10px;
}

.nav-toggle-label span::after {
    top: -20px;
}

.nav-toggle:checked ~ nav {
    transition: width 150ms ease-in-out 150ms;
    width: 100vw;
}

/* animate menu button */
.nav-toggle:checked + .nav-toggle-label > span {
    transform: rotate(225deg) translate(5px,5px);
    background: white;
}

.nav-toggle:checked + .nav-toggle-label > span::before {
    transform: rotate(90deg) translate(10px,0);
    background: white;
}

.nav-toggle:checked + .nav-toggle-label > span::after {
    background: white;
    opacity: 0;
}
<Paste>
