.reservation {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgba(254,254,254,1);
    color: black;
    position: fixed;
    font-size: var(--font-size-small);
    line-height: var(--line-height-small);
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.2);
}

.to_reservation {
    width: 100%;
    font-style: italic;
}

.book {
    font-size: var(--font-size-regular);
    line-height: var(--line-height-regular);
    width: 100%;
    text-align: center;
    cursor: pointer;
}

.beachtowel p {
    padding-bottom: 20px;
}

.beachtowel .form_row {
    padding-bottom: 10px
}

.beachtowel_map > svg {
    max-width: 100%;
}

.to_reservation, .beachtowel {
    padding-left: 60px;
    padding-right: 75px;
    width: auto;
    max-width: 1000px;
    margin: auto;
}

.beachtowel .panel.details  {
    padding-top: 20px;
}

@media only screen and (min-width: 600px) {
    .beachtowel .panel {
        width: 46%;
    }

    .beachtowel .panel.places  {
        float: left;
    }

    .beachtowel .panel.details  {
        float: right;
        padding-top: 0;
    }
}

.beachtowel, .init-hidden {
    display: none;
}

.beachtowel_occupied {
    fill: black;
    stroke-width: 0;
}

.beachtowel_empty {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.beachtowel_selected {
    fill: #333;
    stroke-width: 0;
}

.beachtowel_pending {
    fill: #666;
    stroke-width: 0;
}

#stage {
    fill: white;
    stroke: black;
    stroke-width: 2;
}

.seat[data-status="none"] {
  fill: #FFF;
  stroke: #646464;
  stroke-width: 2px;
  stroke-location: inside;
}

.seat[data-status="none"]:hover {
  fill: green;
}

.seat[data-status="marked"] {
  fill: pink;
}

.seat[data-status="pending"] {
  fill: grey;
}

.seat[data-status="completed"]:hover, .seat[data-status="confirmed"]:hover, .seat[data-status="pending"]:hover {
  fill: red;
}

.seat[data-status="completed"]:active, .seat[data-status="confirmed"]:active, .seat[data-status="pending"]:hover {
  animation: horizontal-shaking 0.35s infinite;
}
