/* Layout */
:root {
}

/* Colors */
:root {
    --color-warn: #96e8af;
}

/* Typo */

:root {
    --font-family: 'Cormorant Garamond', serif;

    --font-size-large: 32px;
    --line-height-large: 40px;

    --font-size-medium: 28px;
    --line-height-medium: 32px;

    --font-size-regular: 20px;
    --line-height-regular: 26px;

    --font-size-small: 16px;
    --line-height-small: 22px;

}

@media only screen and (min-width: 600px) {
    :root {
        --font-size-large: 48px;
        --line-height-large: 52px;

        --font-size-medium: 32px;
        --line-height-medium: 40px;

        --font-size-regular: 24px;
        --line-height-regular: 34px;

        --font-size-small: 20px;
        --line-height-small: 24px;
    }
}


