/* Layout */
:root {
    --grid-gap: 0;
    --header-height: 44px;
}

/* Colors */
:root {
    --base-color: rgba(255,255,255,1);
    --accent-color: rgba(180,20,30,1);
    --text-on-base-color: rgba(0,0,0,1);
    --text-on-accent-color: rgba(255,255,255,1);
}

/* Typo */
:root {
    --font-size-large: 28px;
    --font-size-regular: 20px;
}
