{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "content" }}
{{ if isset .Params "date_unknown" }}
<h2>Datum noch nicht bekannt</h2>
{{ else }}
<h2>{{ index $.Site.Data.tage (printf "%d" .Date.Weekday) }}, {{ .Date.Day }}. {{  index $.Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }}, {{ .Date.Format "15:04" }} Uhr</h2>
{{ end }}
<h1>{{ .Title }}</h1>

{{ if isset .Params "musicians" }}
<ul class="musicians">
    {{ range .Param "musicians" }}
    <li>{{ . }}</li>
    {{ end }}
</ul>
{{ end }}

{{ if isset .Params "image" }}
<p>
<img src='{{.Param "image" }}'>
</p>
{{ end }}

{{ if isset .Params "booked" }}
<div class="almost-booked"><p>Das Konzert ist im System beinahe ausgebucht. Weitere Plätze können via <a href="/kontakt">Kontakt</a> reserviert oder an der Abendkasse arrangiert werden.</p></div>
{{ end }}

{{ .Content }}

{{ if isset .Params "homepage" }}
<a href='http://{{ .Param "homepage" }}'>{{ .Param "homepage" }}</a>
{{ end }}
{{ end }}


{{ define "beachtowel" }}
{{ $currentSaison := .Site.Params.currentSaison }}
{{ $saison := .CurrentSection.Param "saison" }}
{{ if eq $saison $currentSaison }}
{{ if isset .Params "concertid" }}
{{ $cid := .Param "concertid" }}
<br /><br />
<div id="reservation_panel" class="reservation">
    <div class="beachtowel" id="beachtower_wrapper">
        <div class="panel places">
            <div class="booking-first-step"><p>Bitte wählen Sie die Sitzplätze:</p></div>
            <div id="beachtowel-map" class="beachtowel_map large-map" data-beachtowel-event-svg="{{$cid}}"></div>
        </div>

        <div class="panel details">
            <div class="booking-second-step"><p>Geben Sie Namen und Emailadresse an:</p></div>
            <div class="form_row">
                <div class="input"><input placeholder="Name Vorname" id="name" class="beachtowel_name" type="text" name="name" data-beachtowel-event="{{$cid}}"></div>
                <div class="info"><div class="beachtowel_name_info" data-beachtowel-event="{{$cid}}"></div></div>
            </div>
            <div class="form_row">
                <div class="input"><input placeholder="Email" id="email" class="beachtowel_email" type="text" name="email" data-beachtowel-event="{{$cid}}"></div>
                <div class="info"><div class="beachtowel_email_info" data-beachtowel-event="{{$cid}}"></div></div>
            </div>
            <div class="form_row">
                <div class="info" id="form_error"></div>
            </div>
            <div class="form_row">
                <div class="input"><div id="send" class="beachtowel_send button" data-beachtowel-event="{{$cid}}">Reservieren</div></div>
                <div class="info"><div class="beachtowel_sent_info" data-beachtowel-event="{{$cid}}"></div></div>
            </div>
            <div class="form_row">
                <div class="info" style="font-style: italic;">
                    <br />Die Reservation ist verbindlich, bei Nichterscheinen erlauben wir uns, eine Rechnung zu stellen. Falls Sie kurzfristig nicht ans Konzert kommen können, annullieren Sie die Reservation oder informieren die Veranstalterinnen.
                </div>
            </div>
        </div>
    </div>

    <div id="to_reservation" class="to_reservation" data-event="{{$cid}}">
        <div id="to_reservation_book" class="book">
            Plätze verbindlich reservieren
        </div>
        <div class="locked init-hidden">Die Reservationen für das Konzert sind geschlossen.<br>Eintritte sind an der Abendkasse erhältlich.</div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="https://beachtowel.terrible.services/client.js"></script>
<script>
    'use strict';
        function finalizeReservation() {
            let target = document.getElementById("beachtower_wrapper");
            target.innerHTML = "<div class=\"panel\">Reservation gesendet!</div>";
            console.log(target);
        }

    document.addEventListener("DOMContentLoaded", function(event) {
        const bt = new Beachtowel("o-clms63hch710uk3e6v80", "{{$cid}}", "form_error");
        bt.placeSeatingPlan("beachtowel-map");
        bt.setupSendForm("email", "name", "send", finalizeReservation);

        jQuery(function($) {
            $('.book').click(function() {
                $('.beachtowel').fadeIn(200);
                $('.to_reservation').fadeOut(200);
            });

        });

    });
</script>
{{ else }}
<br /><br />
<div class="reservation">
    <div class="to_reservation">
       <div class="locked">Reservationen können ab Dienstag, dem 5. Dezember getätigt werden.</div>
    </div>
</div>
{{ end }}
{{ end }}
{{ end }}

