{{ define "title" }}
{{ .Title }}
{{ end }}

{{ define "content" }}
<h2>{{ index $.Site.Data.tage (printf "%d" .Date.Weekday) }}, {{ .Date.Day }}. {{  index $.Site.Data.monate (printf "%d" .Date.Month) }} {{ .Date.Year }}, {{ .Date.Format "15:04" }} Uhr</h2>
<h1>{{ .Title }}</h1>

{{ if isset .Params "musicians" }}
<ul class="musicians">
    {{ range .Param "musicians" }}
    <li>{{ . }}</li>
    {{ end }}
</ul>
{{ end }}

{{ if isset .Params "image" }}
<p>
<img src='{{.Param "image" }}'>
</p>
{{ end }}

{{ .Content }}

{{ if isset .Params "homepage" }}
<a href='http://{{ .Param "homepage" }}'>{{ .Param "homepage" }}</a>
{{ end }}
{{ end }}


{{ define "usher" }}
{{ $currentSaison := .Site.Params.currentSaison }}
{{ $saison := .CurrentSection.Param "saison" }}
{{ if and (eq $saison $currentSaison) (isset .Params "concertid") }}
{{ $cid := .Param "concertid" }}
<br /><br />
<div class="reservation">
    <div class="usher">
        <div class="panel places">
            <div class="booking-first-step"><p>Bitte wählen Sie die Sitzplätze:</p></div>
            <div class="usher_map large-map" data-usher-venue-svg="{{$cid}}"></div>
        </div>

        <div class="panel details">
            <div class="booking-second-step"><p>Geben Sie Namen und Emailadresse an:</p></div>
            <div class="form_row">
                <div class="input"><input placeholder="Name Vorname" class="usher_name" type="text" name="name" data-usher-venue="{{$cid}}"></div>
                <div class="info"><div class="usher_name_info" data-usher-venue="{{$cid}}"></div></div>
            </div>
            <div class="form_row">
                <div class="input"><input placeholder="Email" class="usher_email" type="text" name="email" data-usher-venue="{{$cid}}"></div>
                <div class="info"><div class="usher_email_info" data-usher-venue="{{$cid}}"></div></div>
            </div>
            <div class="form_row">
                <div class="input"><div class="usher_send button" data-usher-venue="{{$cid}}">Reservieren</div></div>
                <div class="info"><div class="usher_sent_info" data-usher-venue="{{$cid}}"></div></div>
            </div>
        </div>
    </div>

    <div class="to_reservation" data-venue="{{$cid}}">
        <div class="book init-hidden">
            Plätze reservieren
        </div>
        <div class="locked init-hidden">Die Reservationen für das Konzert sind geschlossen.<br>Eintritte sind an der Abendkasse erhältlich.</div>
    </div>
</div>
{{ end }}
{{ end }}

